@font-face {
    font-family: TiemposHeadline-Semibold;
    src: url("./fonts/TiemposHeadline-Semibold.otf") format("opentype");
}
@font-face {
    font-family: Karla-Regular;
    src: url("./fonts/Karla-Regular.ttf") format("opentype");
}
@font-face {
    font-family: Karla-Bold;
    src: url("./fonts/Karla-Bold.ttf") format("opentype");
}
@font-face {
    font-family: Karla-BoldItalic;
    src: url("./fonts/Karla-BoldItalic.ttf") format("opentype");
}